@font-face {
  src: url(./assets/fonts/Nunito.ttf);
  font-family: 'Nunito';
}

@font-face {
  src: url(./assets/fonts/Nunito-ExtraBold.ttf);
  font-family: 'Nunito';
  font-weight: bold;
}

body {
  background: #1D1D1D;
  font-family: 'Nunito';
}

h1 {
  font-size: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background: #2D2D2D;
  align-items: center;
}

.header--nav {
  margin-right: 1%;
}

.user_container {
  font-size: 18px;
  color: #f2f2f2;
}

.nav--button {
  background: #FFD700;
  height: 24px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  outline: 0;
}

.nav--button:active {
  border: 2px solid #f2f2f2;
}

.description {
  padding: 10px 0;
  background: rgb(105, 105, 105);
  text-align: center;
}

.description--header {
  font-size: 38px;
  color: #f2f2f2;
  margin-bottom: 20px;
  font-weight: bold;
}

.description--image {
  width: 65%;
  height: 65%;
}

.description--button {
  background: #FFD700;
  height: 70px;
  width: 300px;
  font-size: 32px;
  font-weight: bold;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  margin: 15px 0;
}

.description--button:active {
  border: 2px solid #f2f2f2;
}

.examples {
  text-align: center;
}

.examples--header {
  font-size: 28px;
  font-weight: bold;
  color: #f2f2f2;
  padding: 15px 0;
}

.examples--image {
  border: 2px solid #f2f2f2;
  border-radius: 3px;
  margin: 5px;
}

.functionality {
  width: 60%;
  margin: 20px auto;
  text-align: center;
}

.functionality--item--container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: right;
  margin: 10px;
}

.functionality--item--text {
  color: #f2f2f2;
  font-size: 26px;
  margin-right: 10px;
}

.functionality--item--text--header {
  font-size: 28px;
  font-weight: bold;
}

.functionality--item--image {
  width: 90%;
  height: auto;
  border: 2px solid #f2f2f2;
  border-radius: 4px;
}

.footer {
  background: rgb(14, 13, 13);
  color: #f2f2f2;
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
}